* {
  color: gold;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

h1 {
  font-size: 5rem;
  padding: 8px;
}

main {
  padding: 16px;
  height: 80vh;
}

h2 {
  font-size: 2rem;
}

.paddedtitle {
  padding: 1px 0;
}

.container {
  display: flex;
}

.container.section {
  flex-direction: column;
  width: 50%;
  padding: 16px;
}

.spaced {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#scorecontainer {
  min-height: 60vh;
  border: 2px solid goldenrod;
  overflow-y: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.formelement {
  padding: 0.5em;
  background-color: black;
  border: 2px solid goldenrod;
  box-shadow: 5px 5px 5px goldenrod;
}

.button {
  align-self: flex-end;
}

.scorecard {
  padding: 1rem;
  font-size: 1.2rem;
}

.scorecard:nth-child(2n) {
  background-color: gold;
  color: black;
}
